<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>- | Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<script src="/js/lib/jquery-2.1.4.min.js"></script>
	<script src="/js/lib/bootstrap.js"></script>
	<script src="/js/lib/mustache.js"></script>
	<script src="/js/showalert.js"></script>
	<script src="/js/login.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<div id="login">
		      <div class="credentials">
		      	</br>
		      	</br>
		        <h4>Welcome</h4>

		        {{#alert?}}
  						<div id=alertdiv class="alert {{type}} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{{message}}
							</div>
						{{/alert?}}

						<div id ="alert_placeholder"></div>

		        <form id="loginform" method="post" action="/auth/login">
		      		<input type="text" id="usernameField" name="username" value="{{username}}" class="form-control input-sm chat-input" placeholder="username" autofocus />
		      		</br>
		      		<input type="password" id="passwordField" name="password" class="form-control input-sm chat-input" placeholder="password" />
		        </form>

		        </br>
		   			<button type="button" id="loginBtn" class="btn btn-primary btn-sm">Login</button>
		        <button type="button" class="btn pull-right btn-default btn-sm" data-toggle="modal" data-target="#aboutModal">About</button>
		      </div>
				</div>
      </div>
		</div>

		<!-- Modal -->
  	<div class="modal fade" id="aboutModal" role="dialog">
	    <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">About</h4>
	        </div>
	        <div class="modal-body">
	          <p>This website is made with bootstrap.</p>
	          <p>More information: </p>
	          <a href="http://getbootstrap.com/">http://getbootstrap.com/</a>
	        </div>
	      </div>  
	    </div>       
	  </div>   

	</div>
</body>
</html>        
