<div class="panel panel-default">
	<div class="panel-heading">Media</div>
	<div class="table">
		<table class="table table-condensed table-hover">
		  <thead>
	      <tr>
	        <th style="width: 10%">Artist</th>
	        <th style="width: 60%">Title</th>
	        <th style="width: 20%">Album</th>
	        <th style="width: 5%">ID</th>
	      </tr>
    	</thead>
	    <tbody>
				{{#media?}}
					<tr>
	        	<td>{{TPE1}}</td>
	        	<td>{{TIT2}}</td>
	        	<td>{{TALB}}</td>
	        	<td>{{id}}</td>
	      	</tr>
				{{/media?}}
			</tbody>
		<table>
	</div>
</div>