<div class="panel panel-default">
	<ul class="breadcrumb">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li class="active">Accessories</li>
	</ul>
	<div class="table">
		<table class="table table-condensed table-hover">
	    <tbody>
				{{#folder?}}
					<tr>
	        	<td onclick="loadFolderMedia('{{parent}}/{{name}}')">{{name}}</td>
	      	</tr>
				{{/folder?}}
			</tbody>
		<table>
		<table class="table table-condensed table-hover">
		  <thead>
	      <tr>
	        <th style="width: 20%">Artist</th>
	        <th style="width: 30%">Title</th>
	        <th style="width: 30%">Album</th>
	        <th style="width: 5%">ID</th>
	      </tr>
    	</thead>
	    <tbody>
				{{#media?}}
					<tr>
	        	<td>{{TPE1}}</td>
	        	<td>{{TIT2}}</td>
	        	<td>{{TALB}}</td>
	        	<td>{{id}}</td>
	      	</tr>
				{{/media?}}
			</tbody>
		<table>
	</div>
</div>