<div style="height: 100%" class="panel panel-default">
	<div class="panel-heading">Playlists</div>
	<div class="table">
		<table class="table table-condensed table-hover">
	    <tbody>
				{{#playlist?}}
					<tr onclick="loadPlaylistMedia('{{id}}')">
	        	<td>{{title}}</td>
	      	</tr>
				{{/playlist?}}
			</tbody>
		<table>
	</div>
</div>




